* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HOME */

.Home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* SIDEBARRRRRR */

.SidebarBox {
  width: 80px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  border-right: 1px solid #262626;
  transition: width 0.3s ease;
  overflow: hidden;
}

.SidebarBox:hover {
  width: 250px;
}

.LogoBox {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.SideBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.menuItem:hover {
  background-color: #1a1a1a;
}

.icon {
  min-width: 30px;
  display: flex;
  justify-content: center;
}

.menuItem .text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

.SidebarBox:hover .text {
  opacity: 1;
}

.BottomBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* RIGHTSIDEBARRR */

.RightSidebar {
  width: 300px;
  height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
}

.suggestionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: gray;
}

.Username {
  font-size: 14px;
  font-weight: 600;
}

.Info {
  font-size: 12px;
  color: #aaa;
}

.follow {
  font-size: 12px;
  color: #0095f6;
  cursor: pointer;
}

.SuggestionsBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userProfile{
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
}

.Switch{
  color: rgb(0, 187, 255);
  cursor: pointer;
  font-size: small;
}

.Follow{
  color: #0095f6;
  font-size: small;
  cursor: pointer;

}